#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.principalDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.principalTitle {
  align-items: center;
}

.chartsDiv{
  padding-left: 15px;
  padding-right: 15px;
}

.chart-container{
  height: 400px;
  width: 600px;
}

@media (max-width: 800px){
  .principalDiv{
    flex-direction: column;
  }
}
